:root {
  --basic-black: #000000;
  --basic-background: #F1F5F7;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-red: #EE3643;
  --basic-white: #ffffff;
}

body	{
	font-family:"Cuprum", Arial, sans-serif;
}
img {
	 max-width:100%;
	 height: auto;
 }
 
 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
	list-style: none;;
}
.main-header {
}

.news li{
color: var(--basic-white);
font-weight: bold;
font-size: 24px;
}
.news .block-a{
background-color:#FFBF47;
}
.news .block-b{
background-color:#3BBCE3;
}
.news .block-c{
background-color:#DC91D8;
}
.news .block-d{
background-color:#8ED78F;
}
.news .block-e{
background-color:#FFC047;
}
.news .block-f{
background-color:#000;
}

.news-link{
	 text-transform:uppercase;
	 color: var(--basic-white);
	 font-weight: normal;
	 font-size: 14px;
}


.main-footer{
}

.header-low {
background-color:var(--basic-background);
}

.header-nav {
background-color:#32425C;
text-color: var(--basic-white);
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color:white;
  background-color: #32425C;
  text-color: var(--basic-white);
  list-style: none;
}

.red-text p{
text-color: #EE3643;

}

.main-navigation a,
.user-navigation a,
.header-nav a{
  color: var(--basic-white);

